* {
	margin: 0px;
	padding: 0px;
}

body {
	background: #1e3c72; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#0d2c63,
		#1e3c72
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#0d306d,
		#1e3c72
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inner-container {
	height: 550px;
	width: 300px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.counter-container {
	width: 500px;
	height: 50px;
	padding: 40px;
	border: 2px white solid;
	border-radius: 0.5rem;
	color: white;
	font-size: 20px;
}

.controls {
	margin-top: 200px;
	position: absolute;
	height: 300px;
	min-width: 400px;
}

.controls_icon {
	height: 50px;
}

.final-result {
	font-size: 35px;
	margin-left: 140px;
}

#paper {
	position: absolute;
	top: 0;
	left: 10%;
	background-color: purple;
}

#scissors {
	position: absolute;
	top: 0;
	right: 10%;
	background-color: yellow;
}

#rock {
	position: absolute;
	bottom: 5%;
	right: 37%;
	background-color: chartreuse;
}

button {
	cursor: pointer;
	display: inline-block;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	text-align: center;
	z-index: 1;
}

.modal-content {
	position: fixed;
	z-index: 100;
	background: white;
	border-radius: 10px;
	width: 80%;
	top: 30vh;
	left: 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	display: none;
	animation: fade-slide-in 0.3s ease-out forwards;
	z-index: 2;
}

.modal-body {
	text-align: center;
	padding: 20px;
}

.disable-modal {
	display: none;
}

.enable-modal {
	display: inline-block;
}

.disable-button {
	display: none;
}

.enable-button {
	display: inline-block;
}

#backdrop {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.75);
	z-index: 2;
	pointer-events: none;
	display: none;
}

#backdrop.visible {
	display: block;
	pointer-events: all;
}

@media (min-width: 768px) {
	.inner-container {
		height: 500px;
		width: 700px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	#paper {
		position: absolute;
		top: 0;
		left: 0;
	}

	#scissors {
		position: absolute;
		top: 0;
		right: 0;
	}

	#rock {
		position: absolute;
		bottom: 0;
		right: 39%;
	}

	#reset-button {
		background-color: rgb(45, 85, 196);
		margin-left: 20px;
		margin-top: 17px;
		color: white;
		border: white 2px solid;
	}
}

@keyframes fade-slide-in {
	from {
		transform: translateY(-5rem);
	}
	to {
		transform: translateY(0);
	}
}
